---
import Layout from '../layouts/Layout.astro';
import ProjectPost from '../components/ProjectPost.astro';
import { getCollection } from "astro:content";
const pageTitle = 'Projects';
const allProjects = await getCollection("ProjectIndex");
---

<Layout>

    <div class="main-content">
        <h1>{pageTitle}</h1>
        <div>
            {
            allProjects.map((project) => (
                <ProjectPost 
                    url={`/projects/${project.id}/`} 
                    title={project.data.title} 
                    img={project.data.image.url}
                    alt={project.data.image.alt}
                    description={project.data.description}
                    tags={project.data.tags}


                    />
            ))
            }
        </div>
    </div>
</Layout>