---
const { title, url, img, alt, tags, description } = Astro.props;
---
<a href={url} class="project-link">
    <div class = "ProjectPostBox">
        <div class = "project-post-header">
            <div><h3 class = "project-title">{title}</h3></div>
        </div>

        <div class = "project-post-desc">
            <img src={img} alt={alt} class="project-post-image" />
            <p>{description}</p>
        </div>

    </div>
</a>
