---
const { title, url, img, alt, tags, description } = Astro.props;
---
<a href={url} class="project-link">
    <div class = "ProjectPostBox">
        <img src={img} alt={alt} class="project-image" />
        <div class = "project-desc" >
            <h3 class = "project-title">{title}</h3>
            <p>
                {description}
            </p>

        </div>

    </div>
</a>
