---
const { platform, username } = Astro.props as {
    platform: keyof typeof icons;
    username: string;
}

type Platform = 'instagram' | 'github' | 'Discord' | 'linkedin' | 'Whatsapp';

import githubIcon from '../assets/github.svg';
import instagramIcon from '../assets/instagram.svg';
import discordIcon from '../assets/discord.svg';
import linkedinIcon from '../assets/linkedin.svg';
import whatsappIcon from '../assets/whatsapp.svg';

const icons = {
  instagram: instagramIcon,
  github: githubIcon,
  Discord: discordIcon,
  linkedin: linkedinIcon,
  Whatsapp: whatsappIcon
};
---
<div class = "social-link">
    <img src={icons[platform].src} alt={`${platform} icon`} />
    <a href={`https://www.${platform}.com/${username}`}>{platform}</a>
</div>

<style>
    footer {
        text-align: center;
        padding: 1rem;
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
    }
    
    footer a {
        color: #8D0801;
        text-decoration: none;
        font-family: "cutive mono", monospace;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
</style>