---
const { platform, username } = Astro.props as {
    platform: keyof typeof icons;
    username: string;
}

type Platform = 'instagram' | 'github' | 'youtube';

import githubIcon from '../assets/github.svg';
import instagramIcon from '../assets/instagram.svg';
import youtubeIcon from '../assets/youtube.svg';

const icons = {
  instagram: instagramIcon,
  github: githubIcon,
  youtube: youtubeIcon,
};
---
<div class = "social-link">
    <img src={icons[platform].src} alt={`${platform} icon`} />
    <a href={`https://www.${platform}.com/${username}`}>{platform}</a>
</div>

<style>
    footer {
        text-align: center;
        padding: 1rem;
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
    }
    
    footer a {
        color: #8D0801;
        text-decoration: none;
        font-family: "cutive mono", monospace;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
</style>