---
import Layout from '../layouts/Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout pageTitle={frontmatter.title}>
    <p>By {frontmatter.author}</p>
    <p>{frontmatter.pubDate.toLocaleDatetring()}</p>
    <p>{frontmatter.description}</p>
    <img src={frontmatter.image.src} alt={frontmatter.image.alt} />
    <p>Tags: {frontmatter.tags.join(', ')}</p>
    <article>
        <slot />
    </article>

    <div class="tags">
        {frontmatter.tags.map((tag: string) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>


</Layout>