---
import Layout from '../layouts/Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout pageTitle={frontmatter.title}>
    <p>Collaborators: {frontmatter.author}, {frontmatter.collaborators}</p>
    <p>Published on {frontmatter.pubDate.toLocaleDateString()}</p>
    <p>Project Completed on {frontmatter.completionDate}</p>
    <p>{frontmatter.abstract}</p>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} class='Project_image'/>
    <p>Tags: {frontmatter.tags.join(', ')}</p>
    <article>
        <slot />
    </article>

    <div class="tags">
        {frontmatter.tags.map((tag: string) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>


</Layout>